@page  "/AnnualLeave/Delete/{AnnualLeaveRequestID:int}"

@using AnnualLeaveRequest.Data
@using AnnualLeaveRequest.Models
@inject IAnnualLeaveRequestService AnnualLeaveRequestService
@inject NavigationManager NavigationManager

<h2 class="esh-body-title">Delete</h2>

@if (!deletableRequest)
{
    <div style="color:red; padding-bottom: 20px">
        <ul>
            <li>Cannot delete this Annual Leave Request</li>
        </ul>
    </div>

    <div class="form-actions no-color esh-link-list" style="padding-top: 20px">
        <a href="/AnnualLeave/Overview" class="esh-link-item">
            Back to Overview
        </a>
    </div>

    return;
}

<div class="container">
    <div class="row">
        <dl class="col-md-6 dl-horizontal">
            <dt>
                Start Date
            </dt>

            <dd>
                @model.StartDate.ToString("dd-MMM-yyyy")
            </dd>

            <dt>
                Return Date
            </dt>

            <dd>
                @model.ReturnDate.ToString("dd-MMM-yyyy")
            </dd>

            <dt>
                Number of Days Requested
            </dt>

            <dd>
                @model.NumberOfDaysRequested
            </dd>

            <dt>
                Number of Annual Leave Days Requested
            </dt>

            <dd>
                @model.NumberOfAnnualLeaveDaysRequested
            </dd>

            <dt>
                Number of Public Leave Days Requested
            </dt>

            <dd>
                @model.NumberOfPublicLeaveDaysRequested
            </dd>

            <dt>
                Paid Leave Type
            </dt>

            <dd>
                @model.PaidLeaveType
            </dd>

            <dt>
                Leave Type
            </dt>

            <dd>
                @model.LeaveType
            </dd>

            <dt>
                Notes
            </dt>

            <dd>
                @model.Notes
            </dd>
        </dl>
    </div>

    <div class="form-actions no-color esh-link-list">
        <button class="btn esh-button esh-button-primary" @onclick="DeleteRequest">
            Delete
        </button>
        |
        <a href="/AnnualLeave/Overview" class="esh-link-item">
            Back to Overview
        </a>
    </div>
</div>

@code {
    [Parameter]
    public int AnnualLeaveRequestID { get; set; }

    private AnnualLeaveRequestOverviewModel model = new AnnualLeaveRequestOverviewModel();

    protected bool deletableRequest => model.Year >= DateTime.UtcNow.Year;

    protected override void OnInitialized()
    {
        model = AnnualLeaveRequestService.GetRequest(AnnualLeaveRequestID);
    }

    private void DeleteRequest()
    {
        AnnualLeaveRequestService.Delete(model);

        NavigationManager.NavigateTo("AnnualLeave/Overview");
    }
}
