@model AnnualLeaveRequestToolMVC.Models.AnnualLeaveRequestOverviewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Annual Leave Request Details</h1>

<div>
    <dl class="col-md-6 dl-horizontal">
        <dt>
            Start Date
        </dt>

        <dd>
            @Model.StartDate.ToString("dd-MMM-yyyy")
        </dd>

        <dt>
            Return Date
        </dt>

        <dd>
            @Model.ReturnDate.ToString("dd-MMM-yyyy")
        </dd>

        <dt>
            Number of Days Requested
        </dt>

        <dd>
            @Model.NumberOfDaysRequested
        </dd>

        <dt>
            Number of Annual Leave Days Requested
        </dt>

        <dd>
            @Model.NumberOfAnnualLeaveDaysRequested
        </dd>

        <dt>
            Number of Public Leave Days Requested
        </dt>

        <dd>
            @Model.NumberOfPublicLeaveDaysRequested
        </dd>

        <dt>
            Paid Leave Type
        </dt>

        <dd>
            @Model.PaidLeaveType
        </dd>

        <dt>
            Leave Type
        </dt>

        <dd>
            @Model.LeaveType
        </dd>

        <dt>
            Notes
        </dt>

        <dd>
            @Model.Notes
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.AnnualLeaveRequestID  }) |
    <a asp-action="Overview">Back to Overview</a>
</div>
