@model AnnualLeaveRequestToolMVC.Models.ViewModels.AnnualLeaveRequestDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Annual Leave Request Details</h1>

@if (Model == null || Model.AnnualLeaveRequest == null || Model.AnnualLeaveRequest.AnnualLeaveRequestID == 0)
{
    <div style="color:red;">
        <ul>
            <li>Cannot view this Annual Leave Request</li>
        </ul>
    </div>

    <div class="form-actions no-color esh-link-list" style="padding-top: 20px">
        @Html.ActionLink("Back to Overview", "Overview", new { selectedYear = @Model.Year }) 
    </div>

    return;
}

<div>
    @await Html.PartialAsync("_DetailRow", model: @Model)
</div>
<div>
    @if (Model.IsEditable)
    {
        @Html.ActionLink("Edit", "Edit", new { annualLeaveRequestId = Model.AnnualLeaveRequest.AnnualLeaveRequestID  })
        <span>|</span>
    }
    @Html.ActionLink("Back to Overview", "Overview", new { selectedYear = @Model.Year }) 
</div>
