@page  "/AnnualLeave/Overview/"
@page  "/AnnualLeave/Overview/{AnnualLeaveRequestID:int}"

@using AnnualLeaveRequest.Shared
@using AnnualLeaveRequestToolBlazorServer.Data
@using AnnualLeaveRequestToolBlazorServer.Components
@inject IAnnualLeaveRequestLogic AnnualLeaveRequestLogic
@inject NavigationManager NavigationManager

<div style="padding-bottom: 20px">
    <h2>Annual Leave Calendar - @Year</h2>
</div>

@if(editableYearSelected)
{
    <div class="form-actions no-color esh-link-list" style="padding-bottom: 20px">
        <a href="@($"/AnnualLeave/Create")" class="esh-link-item">
            Create
        </a>
    </div>
}

<div style="padding-bottom: 20px">
    <select id="Year" name="Year" @onchange=@YearSelected>
        @foreach (var year in years)
        {
            if (year == Year)
            {
                <option value="@year" selected>@year</option>
            }
            else
            {
                <option value="@year">@year</option>
            }
        }
    </select>
</div>

<table id="tbAnnualLeaveRequests" class="table" style="width: 1024px;">
    <tr>
        <th style="width: 120px;">Start Date</th>
        <th style="width: 120px;">Return Date</th>
        <th style="width: 165px;">Number of Days Requested</th>
        <th style="width: 165px;">Number of Annual Leave Days Requested</th>
        <th style="width: 165px;">Number of Public Leave Days Requested</th>
        <th style="width: 165px;">Number of Days Left</th>
        <th style="width: 165px;">Number of Annual Leave Days Left</th>
        <th style="width: 165px;">Number of Public Holidays Left</th>
        <th style="width: 150px;">Notes</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var annualLeaveRequestForYear in annualLeaveRequestsForYear)
    {
    <tr id="@annualLeaveRequestForYear.AnnualLeaveRequestID" style="@(annualLeaveRequestForYear.AnnualLeaveRequestID == AnnualLeaveRequestID ? "background-color: #ffff99;" : string.Empty)">
        <td>@annualLeaveRequestForYear.StartDate.ToString("dd MMM yyyy")</td>
        <td>@annualLeaveRequestForYear.ReturnDate.ToString("dd MMM yyyy")</td>
        <td>@annualLeaveRequestForYear.NumberOfDaysRequested</td>
        <td>@annualLeaveRequestForYear.NumberOfAnnualLeaveDaysRequested</td>
        <td>@annualLeaveRequestForYear.NumberOfPublicLeaveDaysRequested</td>
        <td>@annualLeaveRequestForYear.NumberOfDaysLeft</td>
        <td>@annualLeaveRequestForYear.NumberOfAnnualLeaveDaysLeft</td>
        <td>@annualLeaveRequestForYear.NumberOfPublicLeaveDaysLeft</td>
        <td>@annualLeaveRequestForYear.Notes</td>

        <td>
            @if(editableYearSelected)
            {
                <a href="@($"AnnualLeave/Edit/{annualLeaveRequestForYear.AnnualLeaveRequestID}")" class="esh-table-link">
                    Edit
                </a>
            }
        </td>
        <td>
            <a href="@($"AnnualLeave/Details/{annualLeaveRequestForYear.AnnualLeaveRequestID}")" class="esh-table-link">
                Details
            </a>
        </td>
        <td>
            @if(editableYearSelected)
            {
                <a href="@($"AnnualLeave/Delete/{annualLeaveRequestForYear.AnnualLeaveRequestID}")" class="esh-table-link">
                    Delete
                </a>
            }
        </td>
    </tr>
    }

</table>
<br />

<table id="tbAnnualLeaveRequestsOverview"  class="table" style="width: 225px;">
    <tr>
        <td>Number of Days</td>
        <td>@NumberOfDays</td>
    </tr>
    <tr>
        <td>Number of Annual Leave Days</td>
        <td>@NumberOfAnnualLeaveDays</td>
    </tr>
    <tr>
        <td>Number of Public Holidays</td>
        <td>@NumberOfPublicLeaveDays</td>
    </tr>
    <tr>
        <td>Number of Days Left</td>
        <td>@NumberOfDaysLeft</td>
    </tr>
    <tr>
        <td>Number of Annual Leave Days Left</td>
        <td>@NumberOfAnnualLeaveDaysLeft</td>
    </tr>
    <tr>
        <td>Number of Public Days Left</td>
        <td>@NumberOfPublicDaysLeft</td>
    </tr>
</table>

@code {
    [Parameter]
    public int AnnualLeaveRequestID { get; set; }

    private decimal NumberOfDays { get; set; }
    private decimal NumberOfAnnualLeaveDays { get; set; }
    private decimal NumberOfPublicLeaveDays { get; set; }
    private decimal NumberOfDaysLeft { get; set; }
    private decimal NumberOfAnnualLeaveDaysLeft { get; set; }
    private decimal NumberOfPublicDaysLeft { get; set; }
    protected int Year { get; set; } = DateTime.UtcNow.Year;

    protected bool editableYearSelected => Year >= DateTime.UtcNow.Year;

    private List<AnnualLeaveRequestOverviewModel> annualLeaveRequestsForYear;
    protected List<int> years;

    protected async override Task OnInitializedAsync()
    {
        await RefreshPage();
    }

    protected async Task YearSelected(ChangeEventArgs e)
    {
        Year = Convert.ToInt32(e.Value.ToString());

        await RefreshPage();
    }

    private async Task RefreshPage()
    {
        if (AnnualLeaveRequestID > 0)
        {
            Year = AnnualLeaveRequestLogic.GetRequest(AnnualLeaveRequestID)?.Year ?? DateTime.UtcNow.Year;
        }

        years = AnnualLeaveRequestLogic.GetYears();
        annualLeaveRequestsForYear = AnnualLeaveRequestLogic.GetRequestsForYear(Year);

        if (annualLeaveRequestsForYear.Count > 0)
        {
            var lastAnnualeaveRequestForYear = annualLeaveRequestsForYear
                                                .OrderBy(x => x.StartDate)
                                                .Last();
            
            NumberOfDays = lastAnnualeaveRequestForYear.NumberOfDays;
            NumberOfAnnualLeaveDays = lastAnnualeaveRequestForYear.NumberOfAnnualLeaveDays;
            NumberOfPublicLeaveDays = lastAnnualeaveRequestForYear.NumberOfPublicLeaveDays;
            NumberOfDaysLeft = lastAnnualeaveRequestForYear.NumberOfDaysLeftForYear;
            NumberOfAnnualLeaveDaysLeft = lastAnnualeaveRequestForYear.NumberOfAnnualLeaveDaysLeftForYear;
            NumberOfPublicDaysLeft = lastAnnualeaveRequestForYear.NumberOfPublicLeaveDaysLeftForYear;
        }

        annualLeaveRequestsForYear.RemoveAll(x => x.AnnualLeaveRequestID == 0);

        //used to highlight the annual leave request which has been changed for a short time
        //to show the user which annual leave request has changed
        if (AnnualLeaveRequestID > 0)
        {
            await Task.Delay(500);
            NavigationManager.NavigateTo("AnnualLeave/Overview");
        }
    }
}

