@page
@model AnnualLeaveRequestToolRazorPages.Pages.AnnualLeaveRequest.OverviewModel

@{
    ViewData["Title"] = "Annual Leave Calendar";
}

<h1>Annual Leave Calendar - @Model.AnnualLeaveRequestOverviewViewModel.SelectedYear</h1>

<p>
    @if(Model.AnnualLeaveRequestOverviewViewModel.EditableYearSelected)
    {
        <a asp-page="Create">Create New</a> 
    }
</p>

<div style="padding-bottom: 20px">
    @using (Html.BeginForm("ChangeSelectedYear", "AnnualLeaveRequest", FormMethod.Post, new { id = "frmSelectedYear" }))
    {
        @Html.DropDownList("ID", new SelectList(@Model.AnnualLeaveRequestOverviewViewModel.Years), 
        new{
                onchange = "document.getElementById('frmSelectedYear').submit();"
            })
    }    
</div>

<table class="table">
    <thead>
        <tr>
           <th style="width: 120px;">Start Date</th>
            <th style="width: 120px;">Return Date</th>
            <th style="width: 165px;">Number of Days Requested</th>
            <th style="width: 165px;">Number of Annual Leave Days Requested</th>
            <th style="width: 165px;">Number of Public Leave Days Requested</th>
            <th style="width: 165px;">Number of Days Left</th>
            <th style="width: 165px;">Number of Annual Leave Days Left</th>
            <th style="width: 165px;">Number of Public Holidays Left</th>
            <th style="width: 150px;">Notes</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AnnualLeaveRequestOverviewViewModel.AnnualLeaveRequestsForYear.OrderBy(x => x.StartDate).ToList()) {
        <tr>
            <td>
                @item.StartDate.ToString("dd MMM yyyy")
            </td>
            <td>
                @item.ReturnDate.ToString("dd MMM yyyy")
            </td>
            <td>
                @item.NumberOfDaysRequested
            </td>
            <td>
                @item.NumberOfAnnualLeaveDaysRequested
            </td>
            <td>
                @item.NumberOfPublicLeaveDaysRequested
            </td>
            <td>
                @item.NumberOfDaysLeft
            </td>
            <td>
                @item.NumberOfAnnualLeaveDaysLeft
            </td>
            <td>
                @item.NumberOfPublicLeaveDaysLeft
            </td>
            <td>
                @item.Notes
            </td>
           <td>
               @if(Model.AnnualLeaveRequestOverviewViewModel.EditableYearSelected)
               {
                    <a asp-page="Edit" asp-route-id="@item.AnnualLeaveRequestID">Edit</a><span> |</span>
               }
                    
                <a asp-page="Details" asp-route-id="@item.AnnualLeaveRequestID">Details</a> |

                @if(Model.AnnualLeaveRequestOverviewViewModel.EditableYearSelected)
                {
                    <a asp-page="Delete" asp-route-id="@item.AnnualLeaveRequestID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>


<br />

<table class="table" style="width: 225px;">
    <tr>
        <td>Number of Days</td>
        <td>@Model.AnnualLeaveRequestOverviewViewModel.AnnualLeaveRequestOverviewForYear.NumberOfDays</td>
    </tr>
    <tr>
        <td>Number of Annual Leave Days</td>
        <td>@Model.AnnualLeaveRequestOverviewViewModel.AnnualLeaveRequestOverviewForYear.NumberOfAnnualLeaveDays</td>
    </tr>
    <tr>
        <td>Number of Public Holidays</td>
        <td>@Model.AnnualLeaveRequestOverviewViewModel.AnnualLeaveRequestOverviewForYear.NumberOfPublicLeaveDays</td>
    </tr>
    <tr>
        <td>Number of Days Left</td>
        <td>@Model.AnnualLeaveRequestOverviewViewModel.AnnualLeaveRequestOverviewForYear.NumberOfDaysLeft</td>
    </tr>
    <tr>
        <td>Number of Annual Leave Days Left</td>
        <td>@Model.AnnualLeaveRequestOverviewViewModel.AnnualLeaveRequestOverviewForYear.NumberOfAnnualLeaveDaysLeft</td>
    </tr>
    <tr>
        <td>Number of Public Days Left</td>
        <td>@Model.AnnualLeaveRequestOverviewViewModel.AnnualLeaveRequestOverviewForYear.NumberOfPublicLeaveDaysLeft</td>
    </tr>
</table>